<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-header="sticky" >
<head th:replace="common/fragments :: head(~{::title},~{::meta})">
    <title>About Me</title>
    <meta name="description" data-th-attr="content='about me'">
</head>
<body class="home-template">
<div class="site-wrap">

    <!-- navbar start -->
    <div th:replace="common/fragments :: navbar"></div>
    <!-- navbar end -->

    <!-- main body start-->
    <div class="main">
        <section class="home-hero">
            <div class="div container home-hero-inner">
                <div class="row">
                    <div class="col-md-7">
                        <div class="intro-wrap flex">
                            <div class="intro-inner">
                                <h2>About</h2>
                                <p>Hi!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 😀
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 offset-lg-1">
                        <div class="portrait-wrap">
                            <img class="feature-image"  src="data:," th:attr="data-src=@{'/assets/image/profile.jpg'}"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="post-inner-wrap">
                    <h4 class="post-title">Techs | Free time | Contact</h4>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <br>
                    <div class="post-content">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <br>
                    <div class="post-content">
                        You can reach me at developer@gmail.com
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- main body end-->

    <div th:replace="common/fragments :: footer-after"></div>
</div>
</body>
</html>